body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}
.firstGrayBox {
    background-color: #1f2937;
    padding: 50px;
    padding-top: 10px;
}
.mainTitleAndList {
    display: flex;
    justify-content: space-around;
}

img {
    display: flex;
    height: 250px;
    width: 525px;
}
.elementwo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 50px;
}
.awesometitlediv {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 525px;
}
.bigtitle1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;    
}
.secondarytext {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
}

.titlelist {
    font-size: 18px;
    color: #e5e7eb;
}
ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}
#firstbutton {
    color: white;
    padding: 10px;
    background-color: #3882f6;
    height: auto;
    width: 120px;
    border-radius: 7px;
    font-weight: bold;
}
.title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}
div.emptybox {
    border-radius: 11px;
    display: flex;
    width: 150px;
    height: 150px;
    border: 4px, solid #3882f6
    

}
.fatherofboxes {
    display: flex;
    gap: 30px;
    justify-content: center;

}
.bigtitle2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 25px;
    margin-bottom: 20px;
}


.subtextbox{
    margin: 5px;
    padding: 0;
    width: 150px;
    height: 150px;
    
}

.greydiv {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    height: 450px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.quotetext {
    width: 800px;
    font-size: 36px;
    font-family: light, italic;
    color: #1f2937;
}

.undertextquote {
    padding-top: 10px;
    display: flex;
    text-align: end;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 430px;
}
.lastbox {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f9faf8;
    padding: 100px;
}
.bluediv {
    border-radius: 10px;
    height: 130px;
    width: 800px;
    display: flex;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
}
#signuplast {
    width: 100px;
    height: 25px;
    border-radius: 6px;
    background-color: #3882f6;
    border: #f9faf8 solid 2px;
    color: white;
}

.lasttitle{
    display: flex;
    font-size: 22px;
    font-weight: bolder;
    color: white;

}
.lasttextomg {
    display: flex;
    color: white;
}
.footer{
    background-color: #1f2937;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
